.contact-section {
  padding: 100px 10%;
  background: black;
  color: #fff;
  text-align: center;
}

.contact-section h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.contact-subtitle {
  color: #94a3b8;
  margin-bottom: 50px;
}

.contact-container {
  display: flex;
  gap: 50px;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.contact-info {
  flex: 1;
  text-align: left;
}

.contact-info h3 {
  margin-bottom: 10px;
  font-size: 1.4rem;
}

.contact-links {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

.contact-links a {
  color: #e2e8f0;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: color 0.3s;
}

.contact-links a:hover {
  color: #E62B1E;
}

.contact-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input,
.contact-form textarea {
  padding: 12px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 1rem;
}

.contact-form button {
  background: #E62B1E;
  color: #0f172a;
  padding: 12px;
  border-radius: 8px;
  font-weight: 600;}
  /*cursor: pointer;
  transition: transform 0.3s, background 0.3s;

/*.contact-form button:hover {
  background: #E62B1E;
  transform: translateY(-2px);
}

/* Mobile */
@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
  }
}