.footer {
  background: rgb(33, 32, 32);
  color: #cbd5f5;
  padding: 40px 10%;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.footer-left h3 {
  margin-bottom: 5px;
  color: #ffffff;
}

.footer-left p {
  font-size: 0.9rem;
  color: #94a3b8;
}

.footer-socials {
  display: flex;
  gap: 20px;
  font-size: 1.3rem;
}

.footer-socials a {
  color: #cbd5f5;
  transition: color 0.3s, transform 0.3s;
}

.footer-socials a:hover {
  color: #E62B1E;
  transform: translateY(-3px);
}

.footer-right {
  text-align: right;
  font-size: 0.85rem;
  color: #94a3b8;
}

/* Mobile */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .footer-right {
    text-align: center;
  }
}
