/* src/styles/global.css */

/* Reset & basic font */
body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

/* Navbar styles */
nav {
  width: auto;
  background-color: #1e1e1e;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 2rem;
  position: sticky;
  top: 0;
}

nav h2 {
  font-size: 1.5rem;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

nav ul li {
  cursor: pointer;
  transition: color 0.3s ease;
}

nav ul li:hover {
  color: #00aaff;
}


.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: linear-gradient(to right, #00aaff, #00ffcc);
  color: #fff;
}

.hero-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;

  display: flex;
  align-items: center;
}

.headingandparatext {
  flex: 1;
}

.headingandparatext h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.headingandparatext h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.headingandparatext p {
  font-size: 1.2rem;
  max-width: 600px;
}

.myimage{
  flex: 1; 
  display: flex;
  justify-content: flex-end; 
}

.myimage img {
  max-width: 100px;   
  width: 100%;        
  height: auto;       
  border-radius: 12px; 
  object-fit: cover;   
}
