html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: black;
  color: white;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 80px;
}

/* SECTIONS */
.section {
  min-height: 100vh;
  padding: 100px 8%;
  scroll-margin-top: 80px;
}

