/* NAVBAR */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;

  background-color: #1e1e1e;
  color: white;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 40px;
  z-index: 1000;

  transition: transform 0.3s ease-in-out;
}

.navbar.hide {
  transform: translateY(-100%);
}

.logo {
  font-size: 1.5rem;
}

/* LINKS */
.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;

  /* Smooth color transition */
  transition: color 0.3s ease, transform 0.2s ease;

  /* Change cursor */
  cursor: pointer;
}

/* Hover effect */
.nav-links a:hover {
  color: #E62B1E; /* your highlight color */
  transform: scale(1.05); /* slight pop effect */
}

/* Optional: active link style */
.nav-links a.active {
  color: #E62B1E;
}

/* Mobile Responsiveness */
@media (max-width: 100px) {
  .navbar {
    flex-direction: column;
    gap: 15px;
    padding: 15px 20px;
  }

  .nav-links {
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 100%;
    display: none;
  }
}
