.skills-section {
  padding: 80px 8%;
  background: black;
  color: #fff;
}

.skills-title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 60px;
}

.skills-category {
  margin-bottom: 50px;
}

.skills-category h3 {
  font-size: 1.4rem;
  margin-bottom: 20px;
  color: #E62B1E;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 20px;
}

.skill-card {
  background: #45464c;
  border-radius: 12px;
  padding: 25px 15px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.skill-card svg {
  font-size: 2.8rem;
  color: #E62B1E;
  margin-bottom: 10px;
}

.skill-card span {
  display: block;
  font-size: 0.95rem;
}

.skill-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 30px #E62B1E;
}

/* Mobile */
@media (max-width: 768px) {
  .skills-section {
    padding: 60px 5%;
  }

  .skills-title {
    font-size: 2rem;
  }
}
